# Entorno virtual
.venv/
venv/
en
# Dataset generado
fruit_binary_yolo_cls/
# articulo de medium
medium_article.md

# Salidas de entrenamiento
runs/

# Cache
__pycache__/
.ipynb_checkpoints/
.cache/
*.pyc

# Salidas de inferencia opcionales
inference_outputs/
sample_result.jpg

# modelo
yolo11n-cls.pt

